{% extends 'main_layout.html' %}

{% block title -%} Jakub Nabaglo {%- endblock %}

{% block body %}
  <script>
  </script>

  <div id="intro">
    <p>Hello, my name is Jakub Nabaglo. For breakfast, I eat yoghurt and interesting problems. You can email me at <a href="mailto:j@nab.gl">j@nab.gl</a>.</p>
  </div>

  <div id="drawing"/><div class="animpaused" onclick="this.classList.toggle('animpaused')" ondblclick="window.open('{{ url_for('hutter') }}')"></div></div>

  <ul id="sections">
    <li><a href="https://github.com/nbgl">GitHub</a></li>
    <li><a href="{{ url_for('static', filename='cv.pdf') }}">CV</a></li>
    <li><a href="{{ url_for('projects') }}">Projects</a></li>
  </ul>
{% endblock %}
