{% extends 'sub_layout.html' %}

{% block title -%} Jakub Nabaglo – Projects {%- endblock %}

{% block body %}
  <a class="project-tile project-tile-row1 project-tile-col1" {# href="{{ url_for('photometric_redshift') + ('?ken=yesplease' if ken else '') }}" #}>
    <img src="{{ url_for('static', filename='ken.jpg' if ken else 'galaxy.jpg') }}" />
    Optimising Experiments for Photometric Redshift Prediction
  </a>

  <a class="project-tile project-tile-row1 project-tile-col2" href="{{ url_for('static', filename='homomorphicvote.pdf') }}{# url_for('homomorphic_counting') #}">
    <img src="{{ url_for('static', filename='vote.jpg') }}" />
    Formal Verification of Homomorphic Vote Counting Algorithms
  </a>
{% endblock %}
